<section class="footer">
    <img width="130px" src="rick waiting.gif">
    <div class="description">
        Developed by <a href="https//github.com/negra1m">Negrão</a>
        e <a href="https//github.com/gfrank">Gfrank</a>.
    </div>
</section>

<style>
    section {
        background: rgb(51, 176, 201);
        background: radial-gradient(circle, rgba(51, 176, 201, 1) 1%, rgba(9, 52, 73, 1) 84%);
    }

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;

    }

    a {
        color: #faff64;
        text-decoration: none;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 300px;
    }

    .description {
        color: white;
        height: 25px;
    }
</style>